# See http://help.github.com/ignore-files/ for more about ignoring files.

# npm analytics
/9999
**/9999
.cache

# compiled output
dist/
**/dist/

# dependencies
node_modules/
**/node_modules/
npm-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/

# misc
/.cache
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# Service acc
api/src/service-account.json

# Env
.env
